<h1>EmViCee Burger Co.</h1>

<h2>Chomped Burgers:</h2>

<ul>
    {{#each burger}}
      {{#if devoured }}
        {{> burger/nomnom devoured=false}}
      {{/if}}
    {{/each}}
</ul>

<h2>Burgers NOT Chomped Yet:</h2>

<ul>
    {{#each burger}}
      {{#unless devoured }}
        {{> burger/nomnom devoured=true}}
      {{/unless}}
    {{/each}}
</ul>

<h2>Dream Up a New Burgerrr</h2>
<form class="dreamForm">

    <div class="form-group">
        <label for="burgrname">Burger Name:</label>
        <input type="text" id="burgrname" name="burger_name">
    </div>
    
    <div class="form-group">
        <label for="devoured">Devoured or Nah?</label>
        <br>
        <input type="radio" name="devoured" value="1" checked> Chomped!<br>
        <input type="radio" name="devoured" value="0"> Nah
    </div>

    <button type="submit">Submit Burger Dream</button>
</form>