<div class="container bg-dark">
  <div class="row">
    <div class="col-md-12">
        <h1 class="lobstafont text-center bg-dark text-light">MVC Burger Co.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bg-primary">
      <h3 class="rightonfont text-center bg-warning mt-2">Chomped Burgers:</h2>

      <ul class="lobstafont">
          {{#each burger}}
            {{#if devoured }}
              {{> burger/nomnom devoured=false}}
            {{/if}}
          {{/each}}
      </ul>
    </div>
    <div class="col-md-6 bg-warning">
      <h3 class="rightonfont text-center bg-primary mt-2">Burgers NOT Chomped Yet:</h2>

      <ul class="lobstafont">
          {{#each burger}}
            {{#unless devoured }}
              {{> burger/nomnom devoured=true}}
            {{/unless}}
          {{/each}}
      </ul>      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt-2 mb-2">
      <h2 class="rightonfont text-light">Dream Up a New Burgerrr</h2>
      <form class="dreamForm lobstafont">

          <div class="form-group">
              <label for="burgrname">Burger Name:</label>
              <input type="text" id="burgrname" name="burger_name">
          </div>
          
          <div class="form-group rightonfont">
              <label for="devoured">Devoured or Nah?</label>
              <br>
              <input type="radio" name="devoured" value="1" checked> Chomped!<br>
              <input type="radio" name="devoured" value="0"> Nah
          </div>

          <button class="btn btn-lg btn-outline-light"type="submit">Submit Burger Dream</button>
      </form>
    </div>      
  </div>




    
  </div>

