<li>
    {{burger_name}}

    <button class="change-devoured luckyfont btn btn-sm btn-outline-light" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}EAT ME!{{else}}DONT CHOMP{{/if}}
    </button>
</li>